name: Add fun tags
run-name: New tag for ${{ github.base_ref }}

on:
  push:
    branches:
      - 'foo/**'
  workflow_call:

permissions:
  contents: write
  id-token: write

jobs:
  get_number:
    name: Get new number for tag
    if: ${{ github.repository == 'vlpannel/gh_playground' }}
    runs-on: ubuntu-22.04
    outputs:
      num: ${{ steps.num.outputs.num }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.base_ref }}
          fetch-depth: 0
          fetch-tags: true
      - name: Prepare environment
        uses: ./.github/actions/prepare-env
      - name: Show environment
        run: ./ci/scripts/show-env.sh
      - id: num
        name: Get new number
        shell: bash
        run: |
          branch=$(git branch --show-current)
          latest_version=$(git describe --tags --abbrev=0 --match "$branch.*" HEAD)
          if [[ "$latest_version" =~ "$branch\.(.*)" ]]; then
            last=${BASH_REMATCH[1]}
            new=$(( "$last" + 1))
            echo "num=$new" >> "$GITHUB_OUTPUT"
            exit 0
          else
            echo "No new tags until start has been established."
            exit 1
          fi

  pub:
    name: Publish release
    runs-on: ubuntu-22.04
    needs: get_number
    env:
      NUMBER: ${{ needs.get_number.outputs.num }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.base_ref }}
          fetch-tags: true
      - name: Prepare environment
        uses: ./.github/actions/prepare-env
      - name: Tag and release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="$(git branch --show-current)".p"$NUMBER"
          git tag -af $tag -m "[automated] Update $(git branch --show-current) number to $NUMBER"
          git push --tags
          # see: https://docs.github.com/en/rest/releases/releases?apiVersion=2022-11-28#create-a-release
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/vlpannel/gh_playground/releases \
            -d '{"tag_name":"'"$tag"'","generate_release_notes":true}'
