# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# Copyright zeroRISC Inc.
# Confidential information of zeroRISC Inc. All rights reserved.

name: OpenTitan crypto tests
on:
  workflow_call:
    inputs:
      bitstream:
        type: string
        default: ""
        description: Bitstream artifact name to use, for FPGA tests.
      board:
        default: ""
        type: string
        description: FPGA board to use, if any.
      runner:
        required: true
        type: string
        description: Runner type to use.
      tag-filters:
        type: string
        default: ''
        description: Bazel tag filters for the tests
      timeout-filters:
        type: string
        default: ''
        description: Bazel timeout filters for the tests
      targets:
        required: true
        type: string
        description: Bazel targets to test
      timeout:
        default: 30
        type: number
        description: Timeout for the job in minutes
      extra-bazel-flags:
        default: ""
        type: string
        description: "Any additional flags to pass to the Bazel inovcation."

jobs:
  cryptotest:
    name: Execute tests
    runs-on:
      group: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare environment
        uses: ./.github/actions/prepare-env
        with:
          fpga: ${{ inputs.board }}
      - name: Show environment
        run: ./ci/scripts/show-env.sh
      - name: Download bitstream
        uses: ./.github/actions/download-partial-build-bin
        with:
          job-patterns: ${{ inputs.bitstream }}
        if: inputs.bitstream != ''
      - name: Execute tests
        run: |
          . util/build_consts.sh

          ./bazelisk.sh test --keep_going --nocache_test_results \
            --test_timeout_filters=${{ inputs.timeout-filters }} \
            --test_tag_filters=${{ inputs.tag-filters }} \
            --test_output=errors ${{ inputs.extra-bazel-flags }} \
            ${{ inputs.targets }}
