# Copyright zeroRISC Inc.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: CW340 nightly tests
on:
  workflow_call:
    inputs:
      bitstream:
        required: true
        type: string

jobs:
  # CW340 FPGA jobs
  execute_long_test_rom_fpga_tests_cw340:
    name: CW340 Test ROM Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 Test ROM Long Tests
      job_name: execute_long_test_rom_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: cw340_test_rom
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_rom_fpga_tests_cw340:
    name: CW340 ROM Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 ROM Long Tests
      job_name: execute_long_rom_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: "cw340_rom_with_fake_keys,cw340_rom_with_real_keys,-manuf"
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_rom_ext_fpga_tests_cw340:
    name: CW340 ROM_EXT Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 ROM_EXT Long Tests
      job_name: execute_long_rom_ext_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: cw340_rom_ext
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_sival_fpga_tests_cw340:
    name: CW340 SiVal Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 SiVal Long Tests
      job_name: execute_long_sival_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: "cw340_sival,-manuf"
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_sival_rom_ext_fpga_tests_cw340:
    name: CW340 SiVal ROM_EXT Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 SiVal ROM_EXT Long Tests
      job_name: execute_long_sival_rom_ext_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: cw340_sival_rom_ext
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_manuf_fpga_tests_cw340:
    name: CW340 Manufacturing Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW340 Manufacturing Long Tests
      job_name: execute_long_manuf_fpga_tests_cw340
      bitstream: ${{ inputs.bitstream }}
      board: cw340
      interface: cw340
      tag_filters: "manuf,-cw310"
      timeout_filters: 'long,eternal'
      timeout: 300

  verify_fpga_jobs:
    name: Verify FPGA jobs
    uses: ./.github/workflows/verify-fpga.yml
    with:
      tag_filters: "cw340"
      timeout_filters: 'long,eternal'
    needs:
      - execute_long_test_rom_fpga_tests_cw340
      - execute_long_rom_fpga_tests_cw340
      - execute_long_rom_ext_fpga_tests_cw340
      - execute_long_sival_fpga_tests_cw340
      - execute_long_sival_rom_ext_fpga_tests_cw340
      - execute_long_manuf_fpga_tests_cw340
    if: success() || failure()
