# Copyright lowRISC contributors (OpenTitan project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: FPGA test
on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: Web UI name of the job
      job_name:
        required: true
        type: string
        description: Name of the job
      bitstream:
        required: true
        type: string
        description: Bitstream to use
      board:
        required: true
        type: string
        description: FPGA board to use
      interface:
        required: true
        type: string
        description: opentitantool interface to use
      tag_filters:
        required: true
        type: string
        description: Bazel tag filters for the tests
      timeout_filters:
        default: 'short,moderate'
        type: string
        description: Bazel timeout filters for the tests
      timeout:
        default: 60
        type: number
        description: Timeout for the job in minutes
      vivado_version:
        default: "2021.1"
        type: string
      targets:
        default: "//... @manufacturer_test_hooks//..."
        type: string
        description: Bazel target(s) to look for tests in
      add_default_filters:
        default: true
        type: boolean
        description: Include additional test filters for "manual", "broken", and "skip_in_ci" tests.
      cache_test_results:
        default: true
        type: boolean
        description: Skip tests that previously passed and were cached by Bazel

jobs:
  fpga:
    name: ${{ inputs.name }}
    runs-on:
      group: zerorisc-fpga-${{ inputs.board }}
    timeout-minutes: ${{ inputs.timeout }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare environment
        uses: ./.github/actions/prepare-env
        with:
          fpga: ${{ inputs.board }}
      - name: Download bitstream
        uses: ./.github/actions/download-partial-build-bin
        with:
          job-patterns: ${{ inputs.bitstream }}
      - name: Create bitstream cache archive
        run: |
          shopt -s globstar # Allow use of **
          ./bazelisk.sh build //util/py/scripts:bitstream_cache_create
          ./bazelisk.sh run //util/py/scripts:bitstream_cache_create -- \
            --schema $PWD/rules/scripts/bitstreams_manifest.schema.json \
            --stamp-file $PWD/bazel-out/volatile-status.txt \
            --out $PWD/build-bin/bitstream-cache \
            $PWD/build-bin/**/manifest.json
      - name: Execute tests
        run: |
          . util/build_consts.sh

          tag_filters="${{ inputs.tag_filters }}"
          if ${{ inputs.add_default_filters }}; then
            tag_filters+=",-manual,-broken,-skip_in_ci"
          fi

          # Execute a query to find all targets that match the test tags and store them in a file.
          ci/scripts/run-bazel-test-query.sh \
            target_pattern_file.txt \
            "$tag_filters" \
            ${{ inputs.timeout_filters }} \
            ${{ inputs.targets }}

          cache_test_results="--cache_test_results=${{ inputs.cache_test_results }}"

          # Run FPGA tests
          if [[ -s target_pattern_file.txt ]]; then
            ci/scripts/run-fpga-tests.sh "${{ inputs.interface }}" target_pattern_file.txt "$cache_test_results" || {
              res=$?; echo "To reproduce failures locally, follow the instructions at https://opentitan.org/book/doc/getting_started/setup_fpga.html#reproducing-fpga-ci-failures-locally"; exit "${res}";
            }
          else
            echo "No tests to run after filtering"
          fi

      - name: Publish Bazel test results
        uses: ./.github/actions/publish-bazel-test-results
        if: ${{ !cancelled() }}
        with:
          artifact-name: ${{ inputs.job_name }}-test-results

      - name: Upload target pattern file
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.job_name }}-targets
          path: target_pattern_file.txt
