# Copyright zeroRISC Inc.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Hyper310 nightly tests
on:
  workflow_call:
    inputs:
      bitstream:
        required: true
        type: string

jobs:
  execute_long_test_rom_fpga_tests_cw310:
    name: CW310 Test ROM Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 Test ROM Long Tests
      job_name: execute_long_test_rom_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_test_rom
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_rom_fpga_tests_cw310:
    name: CW310 ROM Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 ROM Long Tests
      job_name: execute_long_rom_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "cw310_rom_with_fake_keys,cw310_rom_with_real_keys,-manuf"
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_rom_ext_fpga_tests_cw310:
    name: CW310 ROM_EXT Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 ROM_EXT Long Tests
      job_name: execute_long_rom_ext_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_rom_ext
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_sival_fpga_tests_cw310:
    name: CW310 SiVal Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 SiVal Long Tests
      job_name: execute_long_sival_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "cw310_sival,-manuf"
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_sival_rom_ext_fpga_tests_cw310:
    name: CW310 SiVal ROM_EXT Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 SiVal ROM_EXT Long Tests
      job_name: execute_long_sival_rom_ext_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_sival_rom_ext
      timeout_filters: 'long,eternal'
      timeout: 300

  execute_long_manuf_fpga_tests_cw310:
    name: CW310 Manufacturing Long Tests
    uses: ./.github/workflows/fpga.yml
    secrets: inherit
    with:
      name: CW310 Manufacturing Long Tests
      job_name: execute_long_manuf_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "manuf,-cw340"
      timeout_filters: 'long,eternal'
      timeout: 300

  verify_fpga_jobs:
    name: Verify FPGA jobs
    uses: ./.github/workflows/verify-fpga.yml
    with:
      tag_filters: "cw310"
      timeout_filters: 'long,eternal'
    needs:
      - execute_long_test_rom_fpga_tests_cw310
      - execute_long_rom_fpga_tests_cw310
      - execute_long_rom_ext_fpga_tests_cw310
      - execute_long_sival_fpga_tests_cw310
      - execute_long_sival_rom_ext_fpga_tests_cw310
      - execute_long_manuf_fpga_tests_cw310
    if: success() || failure()
