# Copyright zeroRISC Inc.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Hyper310 on-demand tests
on:
  workflow_call:
    inputs:
      bitstream:
        required: true
        type: string

jobs:
  execute_test_rom_fpga_tests_cw310:
    name: CW310 Test ROM Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 Test ROM Tests
      job_name: execute_test_rom_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_test_rom

  execute_rom_fpga_tests_cw310:
    name: CW310 ROM Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 ROM Tests
      job_name: execute_rom_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "cw310_rom_with_fake_keys,cw310_rom_with_real_keys,-manuf"
      timeout: 90

  execute_rom_ext_fpga_tests_cw310:
    name: CW310 ROM_EXT Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 ROM_EXT Tests
      job_name: execute_rom_ext_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_rom_ext

  execute_sival_fpga_tests_cw310:
    name: CW310 SiVal Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 SiVal Tests
      job_name: execute_sival_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "cw310_sival,-manuf"

  execute_sival_rom_ext_fpga_tests_cw310:
    name: CW310 SiVal ROM_EXT Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 SiVal ROM_EXT Tests
      job_name: execute_sival_rom_ext_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: cw310_sival_rom_ext

  execute_manuf_fpga_tests_cw310:
    name: CW310 Manufacturing Tests
    uses: ./.github/workflows/fpga.yml
    if: ${{ github.event_name != 'merge_group' }}
    secrets: inherit
    with:
      name: CW310 Manufacturing Tests
      job_name: execute_manuf_fpga_tests_cw310
      bitstream: ${{ inputs.bitstream }}
      board: cw310
      interface: hyper310
      tag_filters: "manuf,-cw340"

  verify_fpga_jobs:
    name: Verify FPGA jobs
    uses: ./.github/workflows/verify-fpga.yml
    with:
      tag_filters: "cw310"
    needs:
      - execute_test_rom_fpga_tests_cw310
      - execute_rom_fpga_tests_cw310
      - execute_rom_ext_fpga_tests_cw310
      - execute_sival_fpga_tests_cw310
      - execute_sival_rom_ext_fpga_tests_cw310
      - execute_manuf_fpga_tests_cw310
    if: success() || failure()
