# Copyright lowRISC contributors (OpenTitan project).
# Copyright zeroRISC Inc.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Nightly
on:
  workflow_dispatch:
  schedule:
    - cron: "00 02 * * *"

permissions:
  contents: read
  # Needed for workload identity federation
  id-token: write

jobs:
  # Run On-demand Tests
  on-demand:
    name: Run On-demand Tests
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  # Build FPGA bitstreams.
  chip_earlgrey_cw310:
    name: Earl Grey for CW310
    uses: ./.github/workflows/bitstream.yml
    secrets: inherit
    with:
      top_name: earlgrey
      design_suffix: cw310
      vivado_version: '2024.1'

  chip_earlgrey_cw310_hyperdebug:
    name: Earl Grey for CW310 Hyperdebug
    uses: ./.github/workflows/bitstream.yml
    secrets: inherit
    with:
      top_name: earlgrey
      design_suffix: cw310_hyperdebug
      vivado_version: '2024.1'

  chip_earlgrey_cw340:
    name: Earl Grey for CW340
    uses: ./.github/workflows/bitstream.yml
    secrets: inherit
    with:
      top_name: earlgrey
      design_suffix: cw340

  cache_bitstreams:
    name: Cache bitstreams to GCP
    runs-on:
      group: zerorisc-none
    needs:
      - chip_earlgrey_cw310
      - chip_earlgrey_cw310_hyperdebug
      - chip_earlgrey_cw340
    steps:
      - uses: actions/checkout@v4
      - name: Prepare environment
        uses: ./.github/actions/prepare-env
      - name: Download partial build-bin
        uses: ./.github/actions/download-partial-build-bin
        with:
          job-patterns: chip_earlgrey_{cw310,cw310_hyperdebug,cw340}
      - name: Create bitstream cache archive
        run: |
          shopt -s globstar # Allow use of **
          ./bazelisk.sh build //util/py/scripts:bitstream_cache_create
          ./bazelisk.sh run //util/py/scripts:bitstream_cache_create -- \
            --schema $PWD/rules/scripts/bitstreams_manifest.schema.json \
            --stamp-file $PWD/bazel-out/volatile-status.txt \
            --out $PWD/build-bin/bitstream-cache \
            $PWD/build-bin/**/manifest.json
      - name: Upload bitstreams to GCP bucket
        run: |
          BUCKET_URI=gs://expo-bitstreams/${{ github.ref_name }}
          printf "$(date -u +%Y-%m-%dT%H:%M:%S)\n${{ github.sha }}" > latest.txt
          gcloud storage cp build-bin/bitstream-cache/bitstream-cache.tar.gz $BUCKET_URI/bitstream-${{ github.sha }}.tar.gz
          gcloud storage cp latest.txt $BUCKET_URI/latest.txt
          gcloud storage cp $BUCKET_URI/bitstream-${{ github.sha }}.tar.gz $BUCKET_URI/bitstream-latest.tar.gz

  # Hyper310 on-demand FPGA jobs
  execute_ondemand_tests_hyper310:
    name: Hyper310 On-Demand Tests
    needs: chip_earlgrey_cw310_hyperdebug
    uses: ./.github/workflows/hyper310-pr.yml
    secrets: inherit
    with:
      bitstream: chip_earlgrey_cw310_hyperdebug

  # CW340 on-demand FPGA jobs
  execute_ondemand_tests_cw340:
    name: CW340 On-Demand Tests
    needs: chip_earlgrey_cw340
    uses: ./.github/workflows/cw340-pr.yml
    secrets: inherit
    with:
      bitstream: chip_earlgrey_cw340

  # Hyper310 nightly FPGA jobs
  execute_nightly_tests_hyper310:
    name: Hyper310 Nightly Tests
    needs: chip_earlgrey_cw310_hyperdebug
    uses: ./.github/workflows/hyper310-nightly.yml
    secrets: inherit
    with:
      bitstream: chip_earlgrey_cw310_hyperdebug

  # CW340 nightly FPGA jobs
  execute_nightly_tests_cw340:
    name: CW340 Nightly Tests
    needs: chip_earlgrey_cw340
    uses: ./.github/workflows/cw340-nightly.yml
    secrets: inherit
    with:
      bitstream: chip_earlgrey_cw340
