name: Release prep
on:
  schedule:
    - cron: '0 0 1 3 *'

jobs:
  create-release-branch:
    name: Create release branch
    if: ${{ github.repository == 'vlpannel/gh_playground' }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: true
      - name: Cut a new release branch
        working-directory: ${{ github.workspace }}
        shell: bash
        run: |
          release_date=$(date -d "+90 days" +%Y).$(date -d "+90 days" +%m)
          git tag cut.$release_date
          git push --tags
          git branch release/$release_date
          git push -u origin release/$release_date
