# Copyright zeroRISC Inc.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

name: Verify FPGA jobs
on:
  workflow_call:
    inputs:
      tag_filters:
        required: true
        type: string
        description: Bazel tag filters for the tests
      timeout_filters:
        default: 'short,moderate'
        type: string
        description: Bazel timeout filters for the tests
      add_default_filters:
        default: true
        type: boolean
        description: Include additional test filters for "manual", "broken", and "skip_in_ci" tests.

jobs:
  verify_fpga_jobs:
    name: Verify FPGA jobs
    runs-on:
      group: zerorisc-none
    steps:
      - uses: actions/checkout@v4
      - name: Download target pattern files
        uses: actions/download-artifact@v4
        with:
          pattern: execute_*-targets
          path: verify_fpga_jobs
      - name: List all target pattern files
        run: |
          find verify_fpga_jobs
      - name: Checking for duplicate test runs
        run: |
          # Find and display all duplicates:
          # - for each target file and each line, print '<job_name> <target>'
          # - then sort by the target name
          # - then keep all duplicated lines
          pattern_files=$(find verify_fpga_jobs -name target_pattern_file.txt)
          awk '{ print(gensub(/.*\/(.+)\/target_pattern_file.txt/, "\\1", "g", FILENAME) " " $0) }' $pattern_files | sort -k2 | uniq -D -f1 > duplicates.txt
          if [ -s duplicates.txt ]; then
            echo "The following tests ran in two or more jobs:"
            cat duplicates.txt
            false
          fi
      - name: Checking for missing test runs
        if: success() || failure()
        run: |
          # Get test tag filters.
          tag_filters="${{ inputs.tag_filters }}"
          if ${{ inputs.add_default_filters }}; then
            tag_filters+=",-manual,-broken,-skip_in_ci"
          fi
          # Find and display tests that did not run:
          ./ci/scripts/run-bazel-test-query.sh all_fpga.txt $tag_filters ${{ inputs.timeout_filters }} //... @manufacturer_test_hooks//...
          sort -o all_fpga.txt all_fpga.txt
          pattern_files=$(find verify_fpga_jobs -name target_pattern_file.txt)
          sort $pattern_files > all_run.txt
          comm -23 all_fpga.txt all_run.txt > missing.txt
          if [ -s missing.txt ]; then
            echo "The following tests did not run in any job:"
            cat missing.txt
            false
          fi
